.container {
  margin-top: 1.2rem;
}

.container input,
.container ::-webkit-input-placeholder {
  color: black !important;
}
.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid rgb(240, 96, 70);
}
.py-2{
  color: black !important;
}
.click{
  position: relative;
  right: -350px;
  top: 25px;
}
.but{
  position: relative;
  left: 300px;
    top: 190px;
}
.click{
  position: relative;
   top:center;
   font-size: 2em;
}